@font-face {
    font-family: "Century Gothic";
    src: url(../fonts/centurygothic.ttf);
    font-weight: normal; 
}
@font-face {
    font-family: "Century Gothic Bold";
    src:url(../fonts/centurygothic_bold.ttf);
    font-weight: bold;
}
:root {
    --color1: rgba(72,79,86,255);
    --color2: rgba(197,204,213,255);
    --color3: rgba(255,255,255,255);
    --color4: rgba(0,154,67,255);
    --color5: rgba(45,56,137,255);
    --color6: rgba(109,205,52,255);
}
body {
    margin: 0;
    font-family: Century Gothic;
    font-size: calc( 3px + 11 * ( 100vw / 1920 ));
    font-weight: normal;
    line-height: calc( 16px + 12 * ( 100vw / 1920 ));
}

/* Menu lead */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div {
    width: 9%;
}
header > div > img {
    width: 100%;
    min-width: 10em;
}
header nav {
    margin-right: 6.6%;
    margin-left: 6.6%;
    /* padding-right: 5%; */
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
}
header nav ul li {
    margin-left: 2.77em;
}
header nav ul li:first-child {
    margin-left: 0;
}
header nav ul li a {
    line-height: calc( 5px + 45 * ( 100vw / 1920 ));
    text-align: center;
    color: rgba(71, 78, 86, 1);
    text-decoration: none;
}
header > ul {
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    padding-right: 1.5%;
}
header > ul li {
    margin-left: 8.75%;
}
.selected {
    color: #00913E;
}

/* Lead screen */
.lead_screen > div:first-child {
    width: 100%;
    height: calc(100vh - 9vh);
    background: url(../images/lead_background.jpg) no-repeat center /cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lead_screen > div > div:first-child {
    display: flex;
    justify-content: space-between;
    margin: 0 16%;
    padding: 1% 2%;
}
.lead_screen > div > div:first-child > div:nth-child(1) {
    font-family: Century Gothic;
    font-weight: 700;
    line-height: calc( 16px + 8 * ( 100vw / 1920 ));
    color: var(--color3);
}
.lead_screen > div > div:first-child > div:nth-child(2) {
    margin-right: 3.4%;
}
.social {
    display: flex;
    list-style: none;
    padding-left: 0%;
}
.social li {
    margin-left: 10.17%;
}
.social > li > a {
    width: 3.2em;
    height: 3.2em;
    display: inline-block;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.social > li:first-child > a {
    background-image: url(../images/icon_vk.png) !important;
}
.social > li:nth-child(2) > a {
    background-image: url(../images/icon_whatsapp.png) !important;
}
.social > li:nth-child(3) > a {
    background-image: url(../images/icon_facebook.png) !important;
}
.lead_screen > div > div:nth-child(2) {
    align-self: center;
    width: 20.14%;
    min-width: 35em;
    padding-top: 1.84%;
    box-sizing: content-box;
    text-align: center;
    background: url(../images/background_lead_triangle.png) no-repeat center /contain;
}
.lead_screen > div > div:nth-child(2) h1 {
    font-family: Century Gothic;
    font-size: calc( 19px + 18 * ( 100vw / 1920 ));
    font-weight: 400;
    line-height: calc( 28px + 26 * ( 100vw / 1920 ));
    color: var(--color3);
    text-transform: uppercase;
    margin: 11.33% 9.54% 5.96% 9.54%;
}
.lead_screen> div > div:nth-child(2) h2 {
    font-weight: 400;
    font-size: calc( 14px + 17 * ( 100vw / 1920 ));
    line-height: calc( 18px + 26 * ( 100vw / 1920 ));
    color: var(--color3);
    margin: 0 2.38% 20.67% 2.38%;
}
.lead_screen > div > div:last-child {
    align-self: flex-end;
    margin: 1.95%;
}

/* Popular doors */
.pop_doors > div:nth-child(1) {
    width: 70.57%;
    margin: auto;
    padding-top: 5.85%;
    padding-bottom: 5.02%;
    box-sizing: border-box;
}
.pop_doors > div > h2:first-child {
    margin-left: 3.8%;
    margin-bottom: 2.07%;
    font-weight: 700;
    font-size: calc( 10px + 6 * ( 100vw / 1920 ));
    line-height: calc( 12px + 6 * ( 100vw / 1920 ));
    color: #00913E;
    text-transform: uppercase;
}
.pop_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 77%;
    height: 38.81em;
    margin-bottom: 2.18em;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.pop_card > img {
    width: 100%;
    padding-bottom: 10.24%;
}
.pop_card:hover .pop_card_info {
    opacity: 1;
}
.pop_card:hover .name_price {
    background: var(--color4);
    color: var(--color3);
}
.pop_card:hover .like {
    background: url(../images/favorite_white.png) no-repeat center /contain;
}
.pop_card > .name_price {
    width: 99%;
    height: 6.25em;
    border: 2px solid var(--color4);
    border-radius: 0px 0px 5px 5px;
    transition: background 1s ease;
    transition: color 1s;
}
.like {
    position: absolute;
    right: 1.66em;
    top: 1.11em;
    width: 1.66em;
    height: 1.66em;
    background: url(../images/favorite_green.png) no-repeat center /contain;
    transition: background 1s ease;
}
.name_price {
    position: relative;
    text-align: center;
}
.name {
    font-weight: 700;
    font-size: calc( 4px + 12* ( 100vw / 1920 ));
    line-height: calc( 10px + 30 * ( 100vw / 1920 ));
    margin: 2.73% auto 0 auto;
}
.price {
    font-weight: 400;
    font-size: calc( 14px + 6 * ( 100vw / 1920 ));
    line-height: calc( 10px + 30 * ( 100vw / 1920 ));
    margin-top: 0;
}
.pop_card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10.8% 6.48% 12.95% 6.48%;
    background: rgba(71, 78, 86, 0.9);
    border-radius: 5px 5px 0px 0px;
    box-sizing: border-box;
    width: 99.9%;
    height: calc(100% - 16%);
    line-height: calc( 3px + 19 * ( 100vw / 1920 ));
    color: var(--color3);
}
.pop_card_info > p:nth-child(2), .pop_card_info > p:nth-child(3) {
    text-align: right;
}
.pop_card_info > p:nth-child(2) {
    margin-top: 10.76%;
    margin-bottom: 4.55%;
}
.prevar , .nextar {
    z-index: 2;
    cursor: pointer;
}
.prevar {
    position: absolute;
    right: 7.8%;
    bottom: -5.8%;
}
.nextar {
    position: absolute;
    right: 3.8%;
    bottom: -5.8%;
}

/* Sale */
.sale > div:nth-child(1) {
    width: 100%;
    padding: 1.46% 0 1.46% 0;
    background: url(../images/background_sale.jpg) no-repeat center /cover;
    background-repeat: repeat;
}
.sale_slider {
    width: 61.73%;
    margin: 0 auto 0 auto;
}
.sale_slider img {
    width: 100%;
}
.slick-dots li.slick-active button::before {
    color: var(--color4) !important;
}
.slick-dots li button::before {
    color: var(--color3) !important;
    font-size: calc( 6px + 6 * ( 100vw / 1920 )) !important;
}

/* All doors 1 */
.all_doors_1 > div > div, .all_doors_2 > div > div {
    display: flex;
}
.all_doors_1 > div > div {
    justify-content: flex-start;
    margin-top: 5.85%;
    margin-bottom: 3.9%;
}
.all_doors_1 > div > div > div:nth-child(1), .all_doors_2 > div > div > div:nth-child(1) {
    width: 41.14%;
    height: 39.02em;
    display: flex;
}
.all_doors_1 > div > div > div:nth-child(1) {
    background: url(../images/background_all_doors_1_1.jpg) no-repeat center /cover;
    justify-content: flex-end;
}
.all_doors_1 > div > div > div:nth-child(1) > div, .all_doors_2 > div > div > div:nth-child(1) > div {
    position: relative;
    width: 48%;
    padding: 8.9% 5.11% 7.11% 5.11%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0px 5px 5px 0px;
}
.all_doors_1 > div > div > div:nth-child(1) > div > h3, .all_doors_2 > div > div > div:nth-child(1) > div > h3 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: calc( 4px + 20 * ( 100vw / 1920 ));
    line-height: calc( 10px + 30 * ( 100vw / 1920 ));
}
.all_doors_1 > div > div > div:nth-child(1) > div > p, .all_doors_2 > div > div > div:nth-child(1) > div > p {
    margin-top: 7.86%;
}
.all_doors_1 > div > div > div:nth-child(1) > div > a, .all_doors_2 > div > div > div:nth-child(1) > div > a  {
    position: absolute;
    bottom: 7.13%;
}
.all_doors_1 .all_doors_slider .prevar {
    right: 12%;
}
.all_doors_1 .all_doors_slider .nextar {
    right: 6%;
}
.all_doors_slider {
    width: 46.36%;
}

/* All doors 2 */
.all_doors_2 > div > div  {
    flex-direction: row-reverse;
    margin-top: 5.85%;
    margin-bottom: 3.9%;
}
.all_doors_2 > div > div > div:nth-child(1) {
    background: url(../images/background_all_doors_1_2.jpg) no-repeat center /cover;
    justify-content: flex-start;
}
.all_doors_2 .prevar {
    left: 6%;
}
.all_doors_2 .nextar {
    left: 12%;
}

/* Quiz */
.quiz > div {
    background: var(--color1);
}
.quiz > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.32% 0 7.32% 0;
    color: var(--color3);
}
.quiz > div > div > h2 {
    font-size: calc( 18px + 20 * ( 100vw / 1920 ));
}
.quiz > div > div > p {
    font-size: calc( 8px + 12 * ( 100vw / 1920 ));
    text-align: center;
}
.quiz > div > div > a {
    text-decoration: none;
    padding: 0.73% 3.9% 0.73% 3.9%;
    margin-top: 2.44%;
    background: var(--color4);
    border-radius: 5px;
    color: var(--color3);
}

/* All decor 1 */
.all_decor_1 > div > div, .all_decor_2 > div > div {
    display: flex;
}
.all_decor_1 > div > div {
    justify-content: flex-start;
    margin-top: 5.85%;
    margin-bottom: 3.9%;
}
.all_decor_1 > div > div > div:nth-child(1), .all_decor_2 > div > div > div:nth-child(1) {
    width: 41.13%;
    height: 39.02em;
    display: flex;
}
.all_decor_1 > div > div > div:nth-child(1) {
    background: url(../images/background_all_decor_1_1.jpg) no-repeat center /cover;
    justify-content: flex-end;
}
.all_decor_1 > div > div > div:nth-child(1) > div, .all_decor_2 > div > div > div:nth-child(1) > div {
    position: relative;
    width: 48%;
    padding: 5.94% 4.16% 4.75% 4.16%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0px 5px 5px 0px;
}
.all_decor_1 > div > div > div:nth-child(1) > div > h3, .all_decor_2 > div > div > div:nth-child(1) > div > h3 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: calc( 4px + 20 * ( 100vw / 1920 ));
    line-height: calc( 10px + 30 * ( 100vw / 1920 ));
}
.all_decor_1 > div > div > div:nth-child(1) > div > p, .all_decor_2 > div > div > div:nth-child(1) > div > p {
    margin-top: 7.86%;
}
.all_decor_1 > div > div > div:nth-child(1) > div > a, .all_decor_2 > div > div > div:nth-child(1) > div > a  {
    position: absolute;
    bottom: 7.13%;
}
.all_decor_slider {
    width: 35.14%;
    position: relative;
}
.all_decor_slider .pop_card {
    width: 100%;
}
.all_decor_slider .pop_card_info {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 6.66%;
    height: calc( 100% - 4.8em );
}
.all_decor_slider .name_price {
    height: 11.82%;
    font-weight: 700;
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
}
.all_decor_slider .name_price .like {
    top: 10%;
    right: 3%;
}
.all_decor_slider .slick-slide {
    width: 21.80% !important;
    margin-left: 3.01% !important;
}
.all_decor_1 .nextar {
    right: 0;
}

/* All doors 2 */
.all_decor_2 > div > div  {
    flex-direction: row-reverse;
    margin-top: 5.85%;
    margin-bottom: 3.9%;
}
.all_decor_2 > div > div > div:nth-child(1) {
    background: url(../images/background_all_decor_1_2.jpg) no-repeat center /cover;
    justify-content: flex-start;
    margin-left: 1.41%;
}
.all_decor_2 .prevar {
    left: 5%;
}
.all_decor_2 .nextar {
    left: 13%;
}

/* Products */
.products {
    background: #928981;
    display: flex;
    justify-content: flex-start;
    margin-right: 23%;
}
.products > div:first-child {
    width: 54.54%;
    height: 42.02em;
    float: left;
}
.products > div:first-child {
    background: url(../images/background_products.jpg) no-repeat center;
    background-size: auto 120%;
}
.products > div:last-child {
    width: 47.44%;
    background: #928981;
    float: left;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.products > div:last-child > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.products > div:last-child > div > a {
    width: 36.56%;
}
.products > div:last-child > div > a > img {
    width: 100%;
}
.products > div:last-child > div a {
    text-decoration: none;
    color: var(--color1);
    position: relative;
}
.products > div:last-child > div a::after {
    font-family: Century Gothic;
    font-size: calc( 6px + 13 * ( 100vw / 1920 ));
    font-weight: 400;
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    text-align: center;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #00913E;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 63.3%;
    position: absolute;
    right: -10%;
    bottom: 8%;
}
.products > div:last-child > div a:nth-child(1)::after {
    content: 'замки';
}.products > div:last-child > div a:nth-child(2)::after {
    content: 'фурнтитура';
}.products > div:last-child > div a:nth-child(3)::after {
    content: 'наличники';
}.products > div:last-child > div a:nth-child(4)::after {
    content: 'отбортовки';
}

/* Constructor */
.constructor > div {
    width: 111%;
    background: url(../images/background_constructor.jpg) no-repeat center /cover;
    position: relative;
    z-index: 2;
    float: right;
    margin: 8.37% 0 8.37% 100%;
}
.constructor > div > div {
    width: 56.09%;
    padding: 4.39% 16.96% 2.76% 3.51%;
    box-sizing: border-box;
    background: linear-gradient(-270deg, #474E56 67.01%, rgba(71, 78, 86, 0) 100%);
    border-radius: 0px 5px 5px 0px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.constructor > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color3);
}
.constructor > div > div > div > h2 {
    font-size: calc( 5px + 22 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    text-transform: uppercase;
}
.constructor > div > div > div > p {
    font-size: calc( 3px + 12 * ( 100vw / 1920 ));
    line-height: calc( 8px + 20 * ( 100vw / 1920 ));
}
.constructor > div > div > div > a {
    width: 41.34%;
    font-size: calc( 5px + 14 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    text-transform: uppercase;
    background: rgba(0, 145, 62, 0.86);
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-decoration: none;
    color: var(--color3);
}

/* Blog */
.blog {
    margin-bottom: 5.85%; 
}
.blog > div {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(90deg, #C8CFD7 0%, #FFFFFF 100%);
}
.blog > div > div {
    width: 77.63%;
    margin-top: 1.46%;
    margin-bottom: 1.46%;
    position: relative;
}
.blog > div > div > h2 {
    margin: 0;
    font-weight: 400;
    font-size: calc( 15px + 33 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    color: var(--color4);
    text-transform: uppercase;
}
.blog > div > div > p {
    margin: 0 0 0.63% 6.66%;
    font-weight: 700;
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    color: var(--color4);
}
.blog_slider {
    position: relative;
}
.blog_slider_slice {
    display: flex;
    width: 80.5%;
    position: relative;
}
.blog_slider_slice > h3 {
    width: 63.3%;
    right: -24.2%;
    padding: 0.78% 26.36% 0.78% 1.5%;
    position: absolute;
    font-weight: 400;
    font-size: calc( 8px + 12 * ( 100vw / 1920 ));
    line-height: calc( 10px + 20 * ( 100vw / 1920 ));
    color: var(--color3);
    background: linear-gradient(90deg, #00913E 32.71%, #FFFFFF 100%);
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
}
.blog_slider_slice > div:nth-child(2) {
    width: 31.95%;
    border-top: 2.4em solid var(--color4);
    border-bottom: 2.4em solid var(--color4);
    flex-shrink: 0;
}
.blog_slider_slice > div:nth-child(2) img {
    width: 100%;
}
.blog_slider_slice > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    flex-shrink: 1;
    width: 60%;
    box-sizing: border-box;

}
.blog_slider_slice > div:last-child > p {
    margin-top: 17.22%;
    margin-left: 6.31%;
}
.blog_slider_slice > div:last-child > a {
    color: #000000;
}
.blog_slider_slice > div:last-child > .archiv {
    position: absolute;
    bottom: 3.97%;
    right: 0;
    font-weight: 700;
    line-height: calc( 5px + 15 * ( 100vw / 1920 ));
    text-transform: uppercase;
    color: var(--color4);
    text-decoration: none;
}
.blog_slider .slick-dots {
    right: 12.57% !important;
}
.blog_slider .slick-dots li.slick-active button::before {
    color: var(--color4) !important;
    opacity: 1 !important;
}
.blog_slider .slick-dots li button::before {
    color: var(--color1) !important;
    opacity: 1 !important;
}

/* Sale all */
.sale_all {
    margin-bottom: 5.85%;
}
.sale_all > div {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.sale_all > div > div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.92% 0 2.92% 22.46%;
    background: linear-gradient(270deg, #B1AB9E 0%, rgba(146, 137, 129, 0) 100%);
}
.sale_all > div > div:first-child > div:first-child > h2 {
    margin: 0;
    font-weight: 400;
    font-size: calc( 15px + 33 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    color: var(--color4);
    text-transform: uppercase;
}
.sale_all > div > div:first-child > div:first-child > p {
    margin: 0 0 1.34% 14.22%;
    font-weight: 700;
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    color: var(--color4);
}
.sale_all > div > div:first-child > div:nth-child(2) {
    align-self: center;
}
.sale_all > div > div:first-child > div:nth-child(2) p {
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
    line-height: calc( 16px + 12 * ( 100vw / 1920 ));
    text-align: center;
    padding-top: 7.29%;
    padding-bottom: 12.16%;
}
.sale_all > div > div:first-child a {
    font-size: calc( 5px + 14 * ( 100vw / 1920 ));
    padding: 0.26% 3.62%;
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    align-self: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #00913E;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color1);
}
.sale_all > div > div:last-child {
    width: 100%;
    background: url(../images/background_sal_all.jpg);
    background-size: cover;
}

/* Photo */
.photo {
    margin-bottom: 5.85%;
}
.photo > div {
    display: flex;
    background-image: url(../images/background_line.jpg);
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-size: 100% 13%;
    padding-left: 15%;
    padding-right: 15%;
}
.photo > div > div:first-child > div:first-child > h2 {
    margin: 0;
    font-weight: 400;
    font-size: calc( 15px + 33 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    color: var(--color4);
    text-transform: uppercase;
}
.photo > div > div:first-child > div:first-child > p{
    margin: 0 0 1.34% 14.22%;
    font-weight: 700;
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    color: var(--color4);
}
.tab-content > div:first-child > img {
    width: 49%;
}
.tab-content > div:nth-child(2) {
    height: 16.97em;
    background-color: var(--color1);
    color: #FFFFFF;
    padding: 2.68% 11.49%;
    box-sizing: border-box;
    border-radius: 5px;
}
.photo_slider {
    width: 45em;
    height: 45em;
    transform: rotate(-90deg);
}
.photo_slider > div img {
    transform: rotate(90deg);
}
.switcher img {
    margin-left: 15%;
    margin-top: -10%;
    width: 70%;
}
.photo_slider .prevar {
    bottom: 22%;
    left: 10%;
    z-index: 3;
}
.photo_slider .nextar {
    bottom: 22%;
    left: 18%;
    z-index: 3;
}
.tab-content {
    display: none;
}
.tab-content > div:first-child {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}
.tab-content.active {
    display: block;
    width: 100%;
}

/* Review */
.review {
    margin: 0 15% 5.85% 15%;
}
.review_head > h2 {
    margin: 0;
    font-weight: 400;
    font-size: calc( 15px + 33 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    color: var(--color4);
    text-transform: uppercase;
}
.review_head > p {
    margin: 0 0 1.34% 14.22%;
    font-weight: 700;
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    color: var(--color4);
}
.review_this {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--color4);
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 4.26% 2.84% 2.84% 4.26%;
    height: 16.29em;
}
.review_user_info {
    margin-right: 6.14%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.review_user_info > img {
    width: 75%;
    height: 75%;
    border-radius: 38%;
}
.review_user_info > p {
    width: 162.5%;
    word-wrap: break-word;
}
.review_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.review_content {
    height: 9.5em;
    overflow: scroll;
}
.review_content > p {
    margin-top: 0;
}
.review_slider {
    margin: 0 0.1%;
}
.review_slider .slick-slide {
    padding: 0 0.1%;
}
.review_slider .nextar {
    right: 0;
}
.review_slider .prevar {
    right: 3.49%;
}
.push_review {
    margin-left: 1%;
    color: var(--color4);
}

/* Contacts */
.contacts {
    display: flex;
    justify-content: flex-start;
    padding-right: 15%;
    position: relative;
}
.line {
    height: 9.3em;
    position: absolute;
    width: 100%;
    top: 0;
    background: linear-gradient(90deg, #00913E 28.12%, rgba(0, 145, 62, 0) 100%);
}
.head_map {
    width: 68.39%;
    z-index: 7;
}
.contacts_head {
    position: relative;
    height: 14.37%;
    margin-top: 1%;
    margin-left: 25%;
    padding: 1.15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.contacts_head > div:first-child {
    width: 40%;
}
.contacts_head > div > h2 {
    margin: 0;
    font-weight: 400;
    font-size: calc( 15px + 33 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    color: var(--color3);
    text-transform: uppercase;
}
.contacts_head > div > p {
    margin: 0 0 3.44% 51%;
    font-weight: 700;
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    color: var(--color3);
}
.contacts_head .social {
    /* margin-right: 2em; */
    position: absolute;
    right: 10%;
    top: 13%;
}
.contacts_head .social {
    width: 11em;
}
.address {
    width: 23.5%;
    padding-bottom: 5.85%;
    z-index: 7;
    background: var(--color3);
}
.address_single_slide {
}
.address_single_slide > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px var(--color4);
    border-radius: 5px;
    margin-bottom: 5%;
}
.address_single_slide > div > div:first-child {
    border-bottom: solid 2px var(--color4);
}
.address_single_slide > div > div:first-child p {
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
    line-height: calc( 6px + 22 * ( 100vw / 1920 ));
    text-align: center;
}
.address_single_slide > div > div > ul > li:first-child {
    list-style-image: url(../images/address_adress_li.png);
}
.address_single_slide > div > div > ul > li:nth-child(2) {
    list-style-image: url(../images/address_phone_li.png);
}
.address_single_slide > div > div > ul > li:nth-child(3) {
    list-style-image: url(../images/address_mail_li.png);
}
.address_single_slide > div > div > ul > li:nth-child(4) {
    list-style-image: url(../images/address_skype_li.png);
}
.address_single_slide > div > div > ul > li:nth-child(5) {
    list-style-image: url(../images/address_time_li.png);
}
.address_single_slide > div > div > ul > li a {
    color: #000000;
    text-decoration: none;
}
.address_single_slide > div > a {
    padding: 1% 4%;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 2px var(--color4);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    text-decoration: none;
    color: var(--color4);
}
.address_single_slide > div > a:hover {
    color: var(--color3);
    background: var(--color4);
}
.address_slider .nextar {
    right: 0;
    bottom: -3%;
}
.address_slider .prevar {
    right: 12%;
    bottom: -3%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color1);
    color: var(--color3);
    padding: 1%;
}
.footer_content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer_content > div:first-child {
    width: 17.13%;
    text-align: center;
}
.footer_content > div:first-child > img {
    width: 100%;
}
.footer_menu {
    display: flex;
}
.footer_menu ul:first-child {
    padding-left: 0;
}
.footer_menu ul {
    list-style: none;
}
.footer_menu ul li {
    padding-bottom: 1em;
}
.footer_menu ul li a {
    text-decoration: none;
    color: var(--color3);
}
.social_block {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-end;
    text-align: center;
}
.social_block .social {
    padding-left: 0;
}
.social_block .social li a {
    background: none;
}
.social_block .social li:first-child {
    margin-left: 0;
}
.social_block a {
    text-align: center;
    width: 100%;
}
.social_block {
    width: 12em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.social_block > a:last-child {
    text-decoration: none;
    background: var(--color4);
    color: var(--color3);
    padding: 1.2% 6px;
    border-radius: 5px;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: calc( 20px + 30 * ( 100vw / 1920 ));
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
}
footer > div:nth-child(2) {
    width: 997px;
    text-align: center;
}

/* Model selection */
.constructor {
    margin: 0 15%;
}
.model_selection {
    margin-top: 5%;
}
.model_selection_body {
    padding-bottom: 2.85%;
}
.model_selection_body > h2 {
    margin-left: 1em;
    margin-bottom: 2.1%;
    font-weight: 700;
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
    line-height: calc( 8px + 10 * ( 100vw / 1920 ));
    color: #00913E;
    text-transform: uppercase;
}
.pop_card_info a {
    color: var(--color3);
    align-self: flex-end;
}
.ms_part1_card img {
    padding-bottom: 0;
}
.ms_part1_card .pop_card_info {
    height: 75%;
}
.ms_part1_price:hover {
    background: none; 
}
.ms_choise {
    padding: 1.84% 9.84% 2.46% 9.84%;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 2px var(--color4);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    text-decoration: none;
    color: var(--color4);
}
.ms_part1_card {
    /* height: 440px; */
    margin-left: 1em;
    margin-right: 1em;
}
.ms_part1_card:hover .name_price {
    background: var(--color3);
    color: #000000;
}
.ms_part1_card:hover .ms_choise {
    background: var(--color4);
    color: var(--color3);
}
.ms_part1_slider .prevar {
    bottom: -1em;
    right: 5em;
}
.ms_part1_slider .nextar {
    bottom: -1em;
    right: 1em;
}

/* Decoration selection */
.decoration_selection {
    display: flex;
    justify-content: space-between;
    border: solid 2px var(--color4);
    border-radius: 5px;
    padding-bottom: 2em;
}
.decor_select_left {
    display: flex;
    margin-right: 2.93%;
}
.decor_select_left > div {
    width: 46.59%;
    height: 39.23em;
    margin-top: 3.96%;
    margin-left: 3.96%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.decor_select_left > div > img {
    width: 100%;
}
.decor_select_left > div > a {
    width: 100%;
    text-align: center;
    margin-top: 13%;
    text-decoration: none;
    color: #000000;
}
.decor_select_left > div > a:hover {
    color: var(--color4);
}
.decor_select_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.decor_select_right_header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.decor_select_right_header > a {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
    line-height: calc( 10px + 14 * ( 100vw / 1920 ));
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 1.69%;
    padding-bottom: 1.69%;
    border: solid 2px var(--color4);
    border-top: none;
    border-right: none;
    color: #000000;
}
.decor_select_right_header > a:hover {
    color: var(--color4);
}
.decor_select_right_header > a:first-child {
    border-left: none;
}
.decor_select_right_slider_1 {
    width: 48.2em;
    margin-top: 5%;
    margin-bottom: 2.96%;
}
.decor_select_right_slider_1 > .slick-slide {
    /* width: 112px; */
    /* height: 241px; */
}
.decor_select_right_slider_1 > .slick-slide > img {
    width: 100%;
}
.decor_select_right_slider_1 .prevar {
    right: 6em;
    bottom: -3.5em;
}
.decor_select_right_slider_1 .nextar {
    right: 2em;
    bottom: -3.5em;
}
.decor_select_all {
    display: flex;
    justify-content: flex-start;
}
.decor_select_all select {
    width: 15.67em;
    padding: 2.01% 8.04%;
    margin-left: 3em;
}
.decor_select_all a {
    margin-left: 3em;
    color: var(--color4);
}
.decor_select_right_2 {
    align-self: flex-start;
}
.decor_select_right > div > h2 {
    margin-bottom: 4.31%;
    font-weight: 700;
    font-size: calc( 6px + 10 * ( 100vw / 1920 ));
    line-height: calc( 6px + 12 * ( 100vw / 1920 ));
    color: #00913E;
    text-transform: uppercase;
}
.decor_select_right_slider_2 {
    width: 47.2em;
    margin-bottom: 10%;
}
.decor_select_right_slider_2 .slick-slide {
    width: calc(112px - 10%);
    height: 112px;
}
.decor_select_right_slider_2 .slick-slide img {
    width: 90%;
}
.decor_select_right_slider_2 .nextar {
    right: 0.5em;
    bottom: -3.5em;
}
.decor_select_right_slider_2 .prevar {
    right: 4.7em;
    bottom: -3.5em;
}

/* Door price & info */
.door_price_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0;
}
.door_price {
    display: flex;
    flex-direction: column;
}
.door_price p {
    font-weight: 700;
    font-size: 16px;
    color: var(--color4);
}
.door_price span {
    font-weight: 400;
    font-size: 36px;
    color: var(--color4);
    margin: 0 21px;
}
.door_price button {
    width: 232px;
    height: 54px;
    border: solid 2px var(--color4);
    border-radius: 5px;
    text-align: left;
    padding: 2px 25px;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color4);
    margin-top: 22px;
}
.bucket {
    position: relative;
}
.bucket::after {
    content: "";
    position: absolute;
    right: 1em;
    top: 0.3em;
    width: 39px;
    height: 39px;
    background-size: 100%;
    background-image: url(../images/door_price_button_1.png);
    background-repeat: no-repeat;
}
.favorite {
    position: relative;
}
.favorite::after {
    content: "";
    position: absolute;
    right: 1em;
    top: 0.5em;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-image: url(../images/door_price_button_2.png);
    background-repeat: no-repeat;
}
.door_info table {
    width: 641px;
    border-radius: 5px;
}
.door_info select {
    padding: 5px 20px;
}
.door_info select {
    float: right;
}
.door_info table:last-child select {
    width: 100%;
}
.door_info table:last-child tr {
    height: 1.5em;
}
.door_info table tr {
    height: 6em;
}
.door_info th {
    text-align: left;
}
.door_info td a {
    float: right;
    margin-left: 42px;
    color: var(--color4);
    text-decoration: solid;
}

/* Door stuff */
.door_stuff {
    display: flex;
    flex-wrap: wrap;
}
.door_stuff > div > h2 {
    margin-left: 1em;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #00913E;
    text-transform: uppercase;
    height: 1em;
}
.door_card {
    height: 452px;
    margin-bottom: 10em;
    width: 300px;
}
.door_stuff_slider_slice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--color4);
    border-bottom: 0;
}
.door_stuff_slider_slice .price {
    border: solid 2px var(--color4);
    width: 100%;
    text-align: center;
    border-bottom: none;
    border-left: none;
}
.door_stuff_slider_slice img {
    width: 100%;
}
.door_stuff_slider_slice a {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: #000000;
}
.door_stuff_slider .nextar {
    right: 35px;
    bottom: -2.3em;
}
.door_stuff_slider .prevar {
    left: 35px;
    bottom: -2.3em;
}
.ms_part1_price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1.5em;
}
.door_stuff_choise {
    width: 86px;
    border: solid 2px var(--color4);
    border-radius: 5px;
    margin-bottom: 20px;
}
.door_stuff_choise:hover {
    background: var(--color4) !important;
    color: var(--color3) !important;
}
.door_stuff .pop_card:hover .ms_choise {
    background: none;
    color: var(--color4);
}
.door_card > .name_price {
    border-top: none;
}
.door_card .ms_part1_price a {
    margin-bottom: 20px;
}
.dop {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}
.dop input {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

/* Complect door */
.complect {
    margin-bottom: 5em;
}
.complect h2 {
    margin-left: 1em;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #00913E;
    text-transform: uppercase;
    height: 1em;
}
.complect_this {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: solid 2px var(--color4);
    border-radius: 5px;
    padding: 60px;
    margin-bottom: 1em;
    position: relative;
}
.complect_this table {
    width: 50%;
}
.complect_this tbody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 27em;
    margin-bottom: 5em;
}
.complect_this tbody tr {
    width: 100%;
    display: flex;
    /* align-items: stretch; */
    justify-content: space-between;
}
.complect_this tbody tr td {
    width: 50%;
    color: var(--color4);
}
.complect_this .door_price {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 60px 20px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.complect_this .door_price > div {
    margin-right: 45px;
}

/* Similar doors */
.similar {
    margin-bottom: 5em;
}
.similar h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #00913E;
    text-transform: uppercase;
    height: 1em;
}
.similar .pop {
    width: 110%;
    margin-left: -4.5%;
} 

/* Decor variant select */
.decor_var {
    display: flex;
    justify-content: space-between;
    margin-right: 15.3%;
    margin-bottom: 5.85%;
}
.decor_var_select {
    width: 34.12%;
}
.decor_var_body {
    width: 64.43%;
    display: flex;
    flex-direction: column;
}
.decor_var_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.85%;
}
.decor_var_card {
    width: 17.38%;
    height: 86.78%;
    position: relative;
}
.decor_var_card img {
    width: 100%;
}
.decor_var_card .pop_card_info {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}
.decor_var_card .pop_card_info .name_price {
    border-radius: 5px;
}
.decor_var_card .like {
    bottom: -2em;
    right: 1em;
    top: auto;
}
.pop_card:hover .like {
    background: url(../images/favorite_green_full.png) no-repeat center /contain;
}
.decor_var_body_switch {
    width: 100%;
}
.decor_var_body_switch ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
}
.decor_var_body_switch ul li {
    display: block;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    background: var(--color1);
    margin-left: 0.5em;
}
.decor_var_body_switch ul li:hover {
    background: var(--color4);
}
.decor_var_body_switch ul li a {
    color: var(--color3);
    text-align: center;
    margin-top: 0;
    text-decoration: none;
}


/* Dropdown */
.decor_var_select h3 {
    text-decoration: underline;
}
.decor_var_select h3:hover {
    cursor: pointer;
}
.dropdown_block {
    display: flex;
    border-right: solid 1px var(--color2);
    overflow: scroll;
}
.dropdown_block > div {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.dropdown_block h3 {
    margin-top: -0.3em;
}
.drop_content_1 {
    display: none;
}
.drop_content_1.active {
    display: block;
}
.drop_content_2 {
    display: none;
}
.drop_content_2.active {
    display: block;
}
.drop_content_3 {
    display: none;
}
.drop_content_3.active {
    display: block;
}
.drop_content_4 {
    display: none;
}
.drop_content_4.active {
    display: block;
}
.accordion p {
  padding:1em 2em 1em 2em;
}
.accordion {
    position:relative;
}
.container {
  max-width:960px;
  margin:0 auto;
  padding:2.85% 0 2.85% 0;
}
.accordionTitle,
.accordion__Heading {
    background-color: var(--color3);
    color: var(--color1);
    text-transform: uppercase; 
    text-align: left;
    font-weight:700; 
    padding:2em;
    display:block;
    text-decoration:none;
    color: var(--color1);
    transition:background-color 0.5s ease-in-out;
    border: solid 1px var(--color2);
    padding-left: 50%;
    padding-right: 0;
    font-size: calc( 5px + 11 * ( 100vw / 1920 ));
}
.accordionTitle:hover,
.accordion__Heading:hover {
    color: var(--color4);
}
.accordionTitle:not(.accordion-titleLast) {
    border-bottom: none;
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color: var(--color3);
   color: var(--color4);
}
.accordionItem {
    height:auto;
    overflow:hidden;
    max-height:50em;
    transition:max-height 1s;   
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s
        
    }
}
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}